/* body tag, setting backround color, text color and font family for entire page */
body {
  color: #393e46;
  background-color: #6d9886;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* first section containing all of the text, centered on the page */
#header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* setting the link color of the email link */
a:link {
  color: #393e46;
}

/* setting the link hover color  */
a:hover {
  color: #2b3a55;
}

/* setting the link visited color */
a:visited {
  color: #181d31;
}
