/* css variables */
:root {
  --colorWhite: white;
  --colorDarkGreen: #3f4e4f;
  --colorTan: #dcd7c9;
  --colorBrown: #a27b5c;
  --colorDarkBlue: #2c3639;
}

/* body section and misc css elements applying to everywhere*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

.btn a {
  color: var(--colorWhite);
  text-decoration: none;
}

.sub-section-head {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* nav bar header section */

.navbar {
  background-color: var(--colorDarkGreen);
  color: var(--colorTan);
}

.navbar a {
  color: var(--colorTan);
  padding-left: 1.5rem;
  letter-spacing: 1.25px;
}

/* navbar links */

.nav-header a:active {
  text-decoration: none;
  color: var(--colorBrown);
}
.nav-header a:link {
  text-decoration: none;
}

.nav-header a:hover {
  text-decoration: none;
  color: var(--colorBrown);
}

.h1-home a {
  text-decoration: none;
}

.h1-home a:link {
  text-decoration: none;
}

.h1-home a:hover {
  color: var(--colorBrown);
}

/* header section */

.header {
  background-color: var(--colorTan);
  color: var(--colorDarkBlue);
  padding: 2rem 2rem;
}

/* experiences section */

.cory-experiences {
  background-color: var(--colorDarkGreen);
  color: var(--colorTan);
  padding: 2rem 2rem;
}

.cory-experiences ul {
  margin-bottom: 0;
}

.cory-experiences h3 {
  margin: 2rem 0 0 0;
  padding: 0.5rem;
}

.cory-experiences h3 i {
  padding-left: 0.5rem;
}

/* corys hobby section */

.cory-hobby {
  background-color: var(--colorTan);
  color: var(--colorDarkBlue);
  padding: 2rem 2rem;
}

.hobby-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* corys contact section */

.contact-cory {
  background-color: var(--colorDarkGreen);
  color: var(--colorTan);
  padding: 2rem 2rem;
}

.contact-cory p:last-of-type {
  margin: 0;
}

/* contact form section */

form input,
textarea {
  margin-left: 1rem;
}

form p {
  padding: 0.5rem;
}

form input {
  padding: 0.5rem;
}

/* footer section */

footer {
  background-color: var(--colorTan);
  color: var(--colorDarkBlue);
  padding: 2rem 0;
}
.cory-footer-name {
  font-size: 0.75rem;
}

.footer-email {
  font-size: 0.75rem;
}

.footer-email,
.social-links a:active {
  text-decoration: none;
  color: var(--colorDarkBlue);
}

.footer-email a:link {
  text-decoration: none;
}

.footer-email a:hover {
  text-decoration: none;
  color: var(--colorDarkGreen);
}

.fa {
  color: var(--colorDarkBlue);
}

.footer-nav a {
  text-decoration: none;
  color: var(--colorDarkBlue);
  font-size: 0.75rem;
}

.footer-nav a:hover {
  border-bottom: 2px var(--colorDarkBlue) solid;
}

/* skills section experiences interactive part */

* {
  box-sizing: border-box;
}

.skills-container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--colorWhite);
}

.active-directory {
  width: 90%;
  background-color: #2196f3;
}

.all-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.all-skills h3 {
  margin-top: 1rem;
}

/* setting layout for mobile */

@media screen and (max-width: 700px) {
  /* heading section mobile */
  .nav-header {
    flex-direction: column;
    align-self: flex-end;
  }

  .headshot-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* social media nav bar mobile settings */

  .socialmedia-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
  }

  .socialmedia-navbar li {
    padding-bottom: 0.25rem;
  }

  /* mobile settings for hobby list */

  .hobby-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* mobile settings for skills section in experiences  */

  .all-skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .left-skills {
    display: grid;
    grid-column-start: 1;
  }

  .middle-skills {
    display: grid;
    grid-column-start: 1;
  }
  .right-skills {
    display: grid;
    grid-column-start: 1;
  }

  /* navbar mobile settings */

  .site-nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .navbar-toggle {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }

  .navbar-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--colorTan);
    top: 50%;
    margin-top: -1px;
    transition: all 0.2s ease-in-out;
  }

  .navbar-toggle span:first-child {
    transform: translateY(-6px);
  }

  .navbar-toggle span:last-child {
    transform: translateY(6px);
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--colorDarkGreen);
    padding: 10px;
  }

  .navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-menu li {
    margin-bottom: 10px;
  }

  .navbar-menu a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 5px;
  }

  .navbar-menu.active {
    display: block;
    height: auto;
  }
}
