/* body section and misc css elements*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

.btn-cory a {
  color: white;
  text-decoration: none;
}

.section-header {
  text-align: center;
}

.sub-section-head {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  border-radius: 5px;
}

/* nav bar header section */
.navbar {
  background-color: #3f4e4f;
  color: #dcd7c9;
  display: flex;
  font-family: cursive;
}

.navbar a {
  color: #dcd7c9;
  padding-left: 1.5rem;
}

/* navbar links */

.nav-header a:active {
  text-decoration: none;
  color: #a27b5c;
}
.nav-header a:link {
  text-decoration: none;
}

.nav-header a:hover {
  text-decoration: none;
  color: #a27b5c;
}

/* header section */
.header {
  background-color: #dcd7c9;
  color: #2c3639;
  padding: 2rem 2rem;
}

.header-img {
  display: flex;
}

.header-intro {
  display: flex;
}

.heading-intro {
  text-align: left;
}

.h1-home a {
  text-decoration: none;
}

.h1-home a:link {
  text-decoration: none;
}

.h1-home a:hover {
  color: #a27b5c;
}

.socialmedia-nav {
  display: flex;
  justify-content: flex-start;
}
.socialmedia-navbar {
  display: flex;
  flex-direction: row;
}

/* experiences section */
.cory-experiences {
  background-color: #3f4e4f;
  color: #dcd7c9;
  padding: 2rem 2rem;
}

.cory-experiences ul {
  margin-bottom: 0;
}

.cory-experiences h3 {
  margin: 2rem 0 0 0;
  padding: 0.5rem;
}

.cory-experiences h3 i {
  padding-left: 0.5rem;
}

/* corys hobby section */
.cory-hobby {
  background-color: #dcd7c9;
  color: #2c3639;
  padding: 2rem 2rem;
}

.hobby-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* corys contact section */
.contact-cory {
  background-color: #3f4e4f;
  color: #dcd7c9;
  display: grid;
  padding: 2rem 2rem;
}

.contact-cory p:last-of-type {
  margin: 0;
}

/* contact form section */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
textarea {
  margin-left: 1rem;
}

form p {
  padding: 0.5rem;
}

form label {
  display: flex;
  align-items: flex-start;
}

form input {
  padding: 0.5rem;
}

/* footer section */
footer {
  background-color: #dcd7c9;
  color: #2c3639;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.cory-footer-name {
  font-size: 0.75rem;
}

.footer-email {
  font-size: 0.75rem;
}

.footer-email,
.social-links a:active {
  text-decoration: none;
  color: #2c3639;
}

.footer-email a:link {
  text-decoration: none;
}

.footer-email a:hover {
  text-decoration: none;
  color: #3f4e4f;
}

.fa {
  color: #2c3639;
}

/* skills section experiences interactive part */
* {
  box-sizing: border-box;
}

.skills-container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.active-directory {
  width: 90%;
  background-color: #2196f3;
}

.all-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.all-skills h3 {
  margin-top: 1rem;
}

/* setting layout for mobile */
@media screen and (max-width: 700px) {
  body {
    flex-direction: column;
  }
  .nav-header {
    flex-direction: column;
    align-self: flex-end;
  }

  .headshot-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .socialmedia-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
  }

  .hobby-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .all-skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .left-skills {
    display: grid;
    grid-column-start: 1;
  }

  .middle-skills {
    display: grid;
    grid-column-start: 1;
  }
  .right-skills {
    display: grid;
    grid-column-start: 1;
  }
}
